.wrapper {
  position: absolute;
  right: 4px;
  bottom: 4px;
  z-index: 10;

  background: rgba(255, 255, 255, 0.6);
  font-size: 11px;
  line-height: 1;
}

.nav {
  display: flex;
  gap: 0;

  button {
    cursor: pointer;
    padding: 4px;
    opacity: 0.7;
    transition: opacity 0.3s linear;

    &.on {
      opacity: 1;
    }

    .icon {
      display: block;
      width: 16px;
      height: 16px;
      color: #444;
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    button {
      transition: none;
    }
  }
}
